@model Day1AttrRoutes.Models.ApplicationUser

@if (ViewBag.IsFriend)
{
    <h4>You are @Model.UserName's friend!</h4>
}
else
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Add as Friend" class="btn btn-danger" />
    }
}

